# # pip install -r requirements.txt

# base ----------------------------------------
matplotlib>=3.5.0
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0
torchvision>=0.8.1
tqdm>=4.64.0
protobuf<=3.20.1
facenet-pytorch==2.5.2
scikit-image==0.17.2
scikit-learn==0.24.2

# plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0
umap-learn

# deep_sort -----------------------------------
easydict

# torchreid -----------------------------------
Cython
h5py
six
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio

# ocsort
filterpy

# Tracking eval -------------------------------
GitPython

# Download youtube video ----------------------
pytube

